.container {
	height: 3.5rem;
	background-color: var(--secondary-cl);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.5em;
}

.logo_cont {
}

.title {
	font-family: "Cinzel", serif;
	color: var(--logo-cl);
	font-size: medium;
  font-weight: 600;
}

.search_bar {
}

.logout_cont {
}
